*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    width: 100%;
    margin-bottom: 100px;

}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A2238E;

}

.logoMenu{
    width: 35px;
    height: 40px;
}

.headerLogo{
    width: 100px;
    height: 100px;
}

.header-container-menu{
    background-color: #A2238E;
    position: absolute;
    width: max-content;
    right: 0;
}





.header-lista {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.header-lista li a {
    color: white;
    text-decoration: none;
    text-transform: none;
}

.header-lista li {
    padding-top: 70px;
    font-size: 30px;
}

.menu-fechado {
    margin: 0;
    padding: 0;
    width: 0;
    height: 100vh;
    transition: width 0.5s ease-out;
    overflow: hidden; 
}


.menu-aberto {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 200px; 
    height: 100vh;
    overflow: hidden;
}


.menu-aberto {
    animation: slideIn 0.5s forwards;
}

.menu-fechado {
    animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
    from {
        width: 200px;
    }
    to {
        width: 0;
    }
}

@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 200px;
    }
}


.fundo-escuro-close {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
    z-index: -1;
}

.fundo-escuro-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: block;
    z-index: -1;
}